.row {
  max-width: 114rem;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  &:not(:last-child) {
    margin-bottom: 6rem;
  }

  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 3rem;
    max-width: 50rem;
    display: block;
    padding: 0 3rem;
  }
}

.col-1 {
  width: 45%;
  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.col-2 {
  width: 45%;
  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.col-1-of-4 {
  width: 23%;
  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.col-1-of-3 {
  width: 30%;
  @include respond(tab-port) {
    width: 100%;
    margin-bottom: 3rem;
  }
}
